<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
         "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>hust.auto.reconnect</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/local/bin/python</string>
      <string>main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yiqianqian/Library/Mobile Documents/com~apple~CloudDocs/Development/华科校园网自动重连</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/yiqianqian/Library/Mobile Documents/com~apple~CloudDocs/Development/华科校园网自动重连/run.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yiqianqian/Library/Mobile Documents/com~apple~CloudDocs/Development/华科校园网自动重连/error.log</string>
  </dict>
</plist>
