<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs$
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ruijie.auto.connect</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/Caskroom/miniconda/base/bin/python3.10</string>
        <string>main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Applications/Auto-Reconnect</string>
    <key>StandardOutPath</key>
    <string>/var/log/ruijie.auto.connect.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/ruijie.auto.connect.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>

